.form-label{
    font-weight: bold;
    display: block;
    margin-top: 1rem;
}

.confirmation-page{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    
    p{
        font-size: 2rem;
    }
}

input[type=text], input[type=number], .img-input-box{
    width: 30%;
}

.img-input-box{
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.568) -1px 1px 7px;
    
}
