.form-label{
    font-weight: bold;
    display: block;
    margin-top: 1.5rem;
}

.img-input-box {
    border: black solid 1px;
    padding: 5px 20px;
}

.confirmation-page{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    
    p{
        font-size: 2rem;
    }
}